
.idea/adidas-products-details-crawling.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
utils/__pycache__/utils.cpython-311.pyc
web_pages/__pycache__/men_page.cpython-311.pyc
